<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!--将要被移动到 /${moduleName}/config目录下的applicationContext.xml文件中 -->
	
	
	<!-- Action ,可以考虑放在 /${moduleName}/config/applicationContext-actions.xml中 所有id名称为类名 -->	
	<bean id="ChatIndex" class="org.apachechina.fschatroom.action.Index" scope="prototype" >
		<property name="userManager" ref="userManager" />
	</bean>
	
	<bean id="AddChat" class="org.apachechina.fschatroom.action.AddChat" scope="prototype" >
		<property name="userManager" ref="userManager" />
	</bean>

</beans>
