<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- action-->
	<bean id="NoteList" class="org.apachechina.fsnote.action.NoteList" scope="prototype" >
		<!-- <property name="noteDao" ref="noteDao" />-->
	</bean>
	
	<!-- manager -->
	
		
	<!-- dao -->
	<bean id="NoteDao" class="org.apachechina.fsnote.dao.NoteDao" > 
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>


</beans>
