<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!--
		Action ,可以考虑放在 /${moduleName}/config/applicationContext-actions.xml中
		所有id名称为类名
	-->
	<bean id="bbsfirstpage" class="org.apachechina.fsbbs.action.BBSIndex"
		scope="prototype">
		<property name="bbsDao" ref="bbsDao"></property>
	</bean>
	<bean id="okIndex" class="org.apachechina.fsbbs.action.okIndex"
		scope="prototype">
		<property name="bbsDao" ref="bbsDao"></property>
	</bean>
	<bean id="SendIndex" class="org.apachechina.fsbbs.action.SendIndex"
		scope="prototype">
		<property name="bbsDao" ref="bbsDao"></property>
	</bean>
	<bean id="PinglunIndex" class="org.apachechina.fsbbs.action.Pinglun"
		scope="prototype">
		<property name="bbsDao" ref="bbsDao"></property>
	</bean>


	<!-- manager -->


	<!-- dao -->
	<bean id="bbsDao" class="org.apachechina.fsbbs.dao.BBSDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


</beans>
