<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<!-- 相册 -->
	<bean id="phoDao" class="org.apachechina.fsphoto.dao.PhoDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="PhoList" class="org.apachechina.fsphoto.action.PhoList"
		scope="prototype">
		<property name="phoDao" ref="phoDao" />
	</bean>
	<!-- 存 -->
	<bean id="nph" class="org.apachechina.fsphoto.action.nph" scope="prototype">
		<property name="phoDao" ref="phoDao" />
	</bean>
	<!-- 查 -->
	<bean id="send" class="org.apachechina.fsphoto.action.Send" scope="prototype">
		<property name="phoDao" ref="phoDao" />
	</bean>

	<!-- 照片 -->
	<bean id="picDao" class="org.apachechina.fsphoto.dao.PicDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="PicList" class="org.apachechina.fsphoto.action.PicList"
		scope="prototype">
		<property name="picDao" ref="picDao" />
	</bean>

</beans>
