<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


	<!-- action -->
	<bean id="MsgList" class="org.apachechina.fsmessage.action.List" scope="prototype" > 
		<property name="messageManager" ref="messageManager"></property>
		<property name="userManager" ref="userManager"></property>
	</bean>
	<bean id="MsgSave" class="org.apachechina.fsmessage.action.Save" scope="prototype" > 
		<property name="messageDao" ref="messageDao"></property>
		<property name="userMessageDao" ref="userMessageDao"></property>
		<property name="userManager" ref="userManager"></property>
	</bean>
	
	<bean id="messageDao" class="org.apachechina.fsmessage.dao.MessageDao" > 
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userMessageDao" class="org.apachechina.fsmessage.dao.UserMessageDao" > 
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="messageManager" class="org.apachechina.fsmessage.manager.MessageManager" >
	<property name="userMessageDao" ref="userMessageDao"></property>
	 </bean>

	
	
</beans>
